risorse/XML/prodotti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="prodotti">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="prodotto" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

 <xsd:element name="prodotto">
<xsd:complexType>
 <xsd:sequence>
   <xsd:element ref="nome" minOccurs="1" maxOccurs="1"/>
   <xsd:element ref="categoria" minOccurs="1" maxOccurs="1"/>
   <xsd:element ref="descrizione" minOccurs="0" maxOccurs="1"/>
   <xsd:element ref="prezzo" minOccurs="1"/>
   <xsd:element ref="bonus" minOccurs="1"/>
   <xsd:element ref="data_inserimento" minOccurs="0" maxOccurs="1"/>
   <xsd:element ref="immagine" minOccurs="0" maxOccurs="1"/>
 </xsd:sequence>
 <xsd:attribute name="id" type="xsd:integer" use="required"/>
</xsd:complexType>
 </xsd:element>

  <xsd:element name="nome">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>

  <xsd:element name="categoria">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>

  <xsd:element name="descrizione" type="xsd:string"/>
  <xsd:element name="prezzo" type="xsd:float"/>
  <xsd:element name="bonus" type="xsd:float"/>
  <xsd:element name="data_inserimento" type="xsd:date"/>

  <xsd:element name="immagine">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="255"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>