risorse/XML/recensioni.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="recensioni">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="recensione" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="recensione">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="id_prodotto" minOccurs="1" maxOccurs="1" />
        <xsd:element ref="id_utente" minOccurs="1" maxOccurs="1" />
        <xsd:element ref="commento" minOccurs="0" />
        <xsd:element ref="valutazione" minOccurs="1" maxOccurs="1" />
        <xsd:element ref="voti_like" minOccurs="0" maxOccurs="1" />
        <xsd:element ref="voti_dislike" minOccurs="0" maxOccurs="1" />
        <xsd:element ref="voto_utenti" minOccurs="0" maxOccurs="1" />
        <xsd:element ref="data" minOccurs="1" maxOccurs="1" />
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:integer" use="required" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="id_prodotto" type="xsd:integer" />
  <xsd:element name="id_utente" type="xsd:integer" />
  <xsd:element name="commento" type="xsd:string" />

  <xsd:element name="valutazione">
    <xsd:simpleType>
      <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="1" />
        <xsd:maxInclusive value="5" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>

  <xsd:element name="voti_like" type="xsd:integer" default="0" />
  <xsd:element name="voti_dislike" type="xsd:integer" default="0" />


  <xsd:element name="voto_utenti">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="voto" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="voto">
    <xsd:complexType>
      <xsd:attribute name="id_utente" type="xsd:integer" use="required" />
      <xsd:attribute name="tipo" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="like" />
            <xsd:enumeration value="dislike" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="data" type="xsd:date" />

</xsd:schema>