risorse/XML/sconti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="sconti">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref="sconto" minOccurs="0" maxOccurs="unbounded"/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name="sconto">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref="id_prodotto"  minOccurs="1" maxOccurs="unbounded"/>
    <xsd:element ref="condizione"   minOccurs="0" maxOccurs="1"/>
    <xsd:element ref="percentuale"  minOccurs="1" maxOccurs="1"/>
    <xsd:element ref="data_inizio"  minOccurs="1" maxOccurs="1"/>
    <xsd:element ref="data_fine"    minOccurs="1" maxOccurs="1"/>
   </xsd:sequence>
   <xsd:attribute name="id" type="xsd:integer" use="required"/>
 </xsd:complexType>
 </xsd:element>
 <xsd:element name="id_prodotto" type="xsd:integer"/>
 <xsd:element name="condizione"  type="xsd:string"/>
 <xsd:element name="percentuale" type="xsd:float"/>
 <xsd:element name="data_inizio" type="xsd:date"/>
 <xsd:element name="data_fine"   type="xsd:date"/>  
</xsd:schema>