risorse/XML/sconti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xsd:element name="sconti">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="sconto" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="sconto">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="id_prodotto" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="condizione" minOccurs="0" maxOccurs="1" />
                <xsd:element ref="percentuale" minOccurs="1" maxOccurs="1" />
                <xsd:element ref="data_inizio" minOccurs="1" maxOccurs="1" />
                <xsd:element ref="data_fine" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:integer" use="required" />
            <xsd:attribute name="applicazione_globale" type="xsd:boolean" use="optional" default="false" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="condizione">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="valore" minOccurs="0" maxOccurs="1" />
                <xsd:element ref="data_riferimento" minOccurs="0" maxOccurs="1" />
                <xsd:element ref="evento" minOccurs="0" maxOccurs="1" />
                <xsd:element ref="id_prodotto_rif" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
            <xsd:attribute name="tipo" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="mesi_iscrizione"/>
                        <xsd:enumeration value="crediti_minimi"/>
                        <xsd:enumeration value="crediti_da_data"/>
                        <xsd:enumeration value="reputazione_minima"/>
                        <xsd:enumeration value="offerta_speciale"/>
                        <xsd:enumeration value="acquisto_specifico"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="id_prodotto" type="xsd:integer" />
    <xsd:element name="valore">
        <xsd:simpleType>
            <xsd:restriction base="xsd:decimal">
                <xsd:minInclusive value="0" />
                <xsd:maxInclusive value="100000" />
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
    <xsd:element name="data_riferimento" type="xsd:date" />
    <xsd:element name="evento" type="xsd:string" />
    <xsd:element name="id_prodotto_rif" type="xsd:integer" />
    <xsd:element name="data_inizio" type="xsd:date" />
    <xsd:element name="data_fine" type="xsd:date" />
    <xsd:element name="percentuale">
        <xsd:simpleType>
            <xsd:restriction base="xsd:integer">
                <xsd:minInclusive value="0" />
                <xsd:maxInclusive value="100" />
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>

</xsd:schema>
